/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-size: 400% 400%;
}

/* Navbar Styles */
nav {
  position: fixed; /* stays at top */
  top: 0;
  left: 0;
  width: 100%;
  background: #00204a; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
}

/* Name */
nav h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Menu */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f4b400; /* golden highlight */
}

/* Hero Section */
#home {
  background-size: 400% 400%;
  background-color: #02469e;
  color: white;
  text-align: center;
  padding: 120px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}